body{
    background-position: center;
    background-image: url(/assets/images/mirrored_squares.png)
}
.col-md-4{
    letter-spacing: 1px;
    font-size: larger;
    border-bottom: 3px solid #2ea86f;
    padding-top:10px ;     
}
#index{
    color: #f5ecec;
    
    font-family: monospace;
    font-size: 18px;
    
}
#portfolio{
    padding-left: 10px;
    color: #f5ecec;
    
    font-family: monospace;
    font-size: 18px;
    
}
#contact{
    color: #f5ecec;
    padding-left: 10px;
    
    font-family: monospace;
    font-size: 18px;
}

.col-md-3{
    font-size: x-large;
    color: #dfdede; 
    background-color: #2ea86f;
    border-radius: 3%;
    border-bottom: 3px solid #2ea86f;
      
}
.col-md-5{
    border-bottom: 3px solid #2ea86f;
}
.jumbotron{
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
}
.image{
    width: 165px;
    height: 200px;
    float: left;
    padding-right: 5px;
}
.col-md-8{
    text-align: center;
    position: absolute;
    right: 16%;
    bottom: 20px;
    color: azure;
    
   
}
.col-md-12{
    border: 5px solid black;
    position: absolute;
    bottom:3px ;
}
.image-fluid{
    height: 150px;
    width: 150px;
    vertical-align: auto;
    
}
