body{
    background-attachment: fixed;
    background-image: url(/assets//images/mirrored_squares.png)    
}
.container{
    position: relative;
    min-height: 100vh;
}
.col-md-4{
    letter-spacing: 1px;
    font-size: larger;
    border-bottom: 3px solid #2ea86f;
    padding-top:10px ;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;     
}
#index{
    color: grey;
    font-family: monospace;
    font-size: 18px;
    
}
#portfolio{
    padding-left: 10px;
    color: grey;
    font-family: monospace;
    font-size: 18px;
    
}
#contact{
    color: grey;
    padding-left: 10px;
    font-family: monospace;
    font-size: 18px;
}
.card-img-top{
height: 300px;
}
.card-title{
    color: grey;
}
.col-md-3{
    font-size: x-large;
    color: #dfdede; 
    background-color: #2ea86f;
    border-radius: 3%;
    border-bottom: 3px solid #2ea86f;
    padding-left: ;
      
}
.col-md-5{
    border-bottom: 3px solid #2ea86f;
    background-color: white;
}
.jumbotron{
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
}
.aboutMe{
    font-weight: bolder;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    width: 165px;
    height: 200px;
    float: left;
    padding-right: 5px;
}

.col-md-12{
    
    position: absolute;
    bottom:3px ;
}
.image-fluid{
    height: 150px;
    width: 150px;
    vertical-align: auto;
}
#footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height:2rem;

}

